.card-container {
    display: flex;
  

}

.about-title {
    width:700px;
    margin:auto;
   
}

.about-title h2{
    line-height: 50px;
    font-size: 35px;
    font-weight: bold;
}

.single-cart {
    
    width: 300px;
    height: 350px;
    background-color: #f9f9f9;
    margin:10px;
    border-radius: 20px;
}

.single-cart:hover {
    background-color: rgb(11, 17, 27);
    color:white;
    transition: 2s;
}


.single-cart i {
    font-size: 50px;
    margin-top:30px;
    background-color: #FE9C37;
    padding:20px;
    border-radius: 25px;
    color:white;
}

.single-cart h4 {
    width: 200px;
    font-size: 28px;
    margin:auto;
    padding-top:20px;
    font-weight: 400;
  
  
}


.discount-btn {
    padding:10px;
    background-color:#31C984;
    font-weight: 500;
    border:none;
    color: white;
    border-radius: 4px;


}


.discount-btn:hover {
  background-color: #102040;  
  color:white;
  transition: 1.5s;
}